header {
  z-index: 999;
}
.slider_1 {
  /* background-image: url(../../images/home/location_img.png); */
}
h1 {
  line-height: 120px;
}

#item_wraper.bottom {
  bottom: 435px !important;
}

.slick-prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translatey(-50%);
  z-index: 5;
  color: #fff;
  transition: 0.4s ease;
  padding: 20px;
  font-size: 20px;
}
.slick-next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translatey(-50%);
  z-index: 5;
  padding: 20px;
  color: #fff;
  transition: 0.4s ease;
  font-size: 20px;
}
.slick-next:hover {
  background: #e54209;
}
.slick-prev:hover {
  background: #e54209;
}

.slider2-prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translatey(-50%);
  z-index: 5;
  transition: 0.4s ease;
  padding: 20px;
  font-size: 20px;
  background: #fff;
  color: #000;
}

.slider2-prev:hover {
    background: #e54209;
  color: #fff;

  }

.next{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translatey(-50%);
    z-index: 5;
    padding: 20px;
    transition: 0.4s ease;
    font-size: 20px;
    background: #fff;
    color: #000;
  }
.next:hover {
  background: #e54209;
  color: #fff;

}

.my-video-links{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.slaider_2{
  width: calc(100% + 183px);
 
}

